.myacc-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(70,75,86);
    height: auto;
    margin: 6% 25% 1% 25%;
    background-color: rgba(70,75,86, .5);
}

.myacc-content {
    width: 90%;
    height: 450px;
    border: 3px solid rgb(70,75,86);
    background-color: rgba(240,255,240, 1);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 20px;

}

.myacc-inside-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 2em;
    background-color: rgb(100,149,237);
    color: honeydew;
    margin: 2% 5% 1%;
}

.myacc-inside-middle {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    width: 95%;
    background-color: rgb(100,149,237);
    margin: 1% 0 1%;
    height: 3em;
}

.myacc-inside-bottom {
    width: 95%;
    height: 270px;
    margin-top: 2%;
    border: 2px solid rgb(70,75,86);
    word-wrap: break-word;
    font-family: Georgia, serif;
    overflow-y: auto;
}

.myacc-username {

    font-weight: bold;
}

.myacc-published {
    margin-left: 18em;
    font-weight: bold;
}

.myacc-text {
    margin: 2%;
    font-size: 22px;
}

.myacc-edit-button {
    font-size: 30px;
    margin-right: 3%;
}

.myacc-edit-button:hover {
    color: rgb(70,75,86);
}

.myacc-delete-button {
    font-size: 30px;
    margin-right: 5%;
}

.myacc-delete-button:hover {
    color: rgb(70,75,86);
}