<!DOCTYPE    HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="/layouts/mainPage">

<body>
<section layout:fragment="content">


    <div th:class="universal-background">
        <div th:class="ntl-content">
            <div>
                ---------------------------------
                LOG OUT
                ---------------------------------
            </div>
        </div>
    </div>


</section>
</body>
</html>