<!DOCTYPE    HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="/layouts/mainPage">

<body>
<section layout:fragment="content">


    <div th:class="main-background">


        <div th:class="main-content" th:each="tweet : ${userTweets}">
            <div>

                <p th:text="${tweet.publishedString}"></p>
                <p th:text="${tweet.content}"></p>

            </div>
        </div>


    </div>


</section>
</body>
</html>