<!DOCTYPE    HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="/layouts/mainPage">

<body>
<section layout:fragment="content">


    <div th:class="ntl-background">
        <div th:class="ntl-content">
            <div>
                <form	th:action="@{/new-tweet/add}"	th:object="${tweet}"	method="post">
                    <p>Title <input	type="text"	th:field="*{content}"	/></p>
                    <p><input	type="submit"	value="Submit"	/></p>
                </form>
            </div>
        </div>
    </div>


</section>
</body>
</html>